<div>
<label>Name
  <input [(ngModel)]="contact.name">
</label><br>
<label>Name
  <input>
</label><br>
<label>Name
  <input>
</label><br>
<label>Birthday
  <input type="Date" [(ngModel)]="contact.birthday">
</label><br>
<label>Name
  <input>
</label><br>
<label>Name
  <input>
</label><br>
<label>Name
  <input>
</label><br>
<label>Date met
  <input Type="Date" [(ngModel)]="contact.meetDate">
</label><br>
<label>Name
  <input>
</label><br>
<label>Name
  <input>
</label>
</div>
<button (click)="onSubmit()">Submit</button>
<button (click)="onCancelClick()">Cancel</button>
